<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmallSize</key>
	<dict>
		<key>imageName</key>
		<string>DisclosureTriangleHiDPI.pdf</string>
		<key>imageParts</key>
		<dict>
			<key>OffState</key>
			<string>{{7, 0}, {6, 6}}</string>
			<key>OnState</key>
			<string>{{0, 0}, {6, 6}}</string>
		</dict>
		<key>imageType</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
